.button {
  height: 2rem;
  width: 3rem;
  cursor: pointer;
  font-style: italic;
  border: none;
  box-shadow: var(--shadow-md);
  border-radius: var(--radius-sm);
}

.button:hover {
  opacity: 0.8;
}
