.expenseItem {
  width: 100%;
  height: 64px;
  /* border: 1px solid var(--color-border); */
  border-radius: var(--radius-sm);

  display: flex;
  align-items: center;
  justify-content: center;
}

.expenseItem :not(:last-child) {
  padding: 0 var(--space-xs);
}
.expenseItem:nth-of-type(odd) {
  background: var(--color-background-1);
  box-shadow: var(--shadow-row-odd);
}

.expenseItem:nth-of-type(even) {
  /* box-shadow: var(--bgcolor-row-even); */
  background: var(--color-background-2);
  box-shadow: var(--shadow-row-even);
}

.expenseItem .infoContainer {
  text-align: left;
  color: var(--color-text);
  width: 100%;
  height: 100%;
  border-right: 1px dotted var(--color-border);
}

.expenseItem .header {
  font-size: var(--font-size-base);
  color: var(--color-text);
  text-align: center;
}

.expenseItem .info {
  height: 40px;
}

.infoContainer .decription {
  overflow-y: auto;
  height: 40px;
}

.buttonsContainer {
  height: 100%;
  padding: 0 var(--space-xs);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.buttonsContainer .button {
  height: 16px;
  width: 48px;
  color: var(--color-text);
  box-shadow: var(--shadow-sm);
}

.buttonsContainer .editButton {
  /* background: var(--parchment-golden); */
  background-color: gold;
}
.buttonsContainer .deleteButton {
  /* background-color: var(--color-danger); */
  background: var(--parchment-red);
}
