.expenseItem {
  width: 100%;
  height: 64px;
  border-radius: var(--radius-sm);

  display: flex;
  align-items: center;
  justify-content: center;
}

.expenseItem :not(:last-child) {
  padding: 0 var(--space-xs);
}
.expenseItem:nth-of-type(odd) {
  background: var(--background-2-textured);
  background-blend-mode: difference;
  box-shadow: var(--shadow-row-odd);
}

.expenseItem:nth-of-type(even) {
  background: var(--background-3-textured);
  background-blend-mode: difference;
  box-shadow: var(--shadow-row-even);
}
.expenseItem .infoContainer {
  text-align: left;
  color: var(--color-text);
  width: 100%;
  height: 100%;
  border-right: 1px dotted var(--color-border);
}

.expenseItem .header {
  font-size: var(--font-size-base);
  color: var(--color-text);
  text-align: center;
}

.expenseItem .info {
  height: 40px;
  font-size: var(--font-size-base);
  display: flex;
  align-items: center;
  justify-content: center;
}

.infoContainer .decription {
  height: 40px;
  overflow-y: auto;
}

.buttonsContainer {
  height: 100%;
  padding: 0 var(--space-xs);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.buttonsContainer .button {
  height: 16px;
  width: 48px;
  color: var(--color-text);
  box-shadow: var(--shadow-sm);
  color: var(--color-text3);
}

.buttonsContainer .editButton {
  /* background: var(--parchment-golden); */
  background-color: var(--color-primary);
  background-color: var(--color-warning);
}
.buttonsContainer .deleteButton {
  background-color: var(--color-danger);
}

/* Responsiveness */

@media screen and (min-width: 1440px) {
  .expenseItem {
    height: 72px;
  }
  .expenseItem .header {
    font-size: var(--font-size-md);
  }
  .expenseItem .info {
    font-size: var(--font-size-md);
  }
  .buttonsContainer .button {
    height: 20px;
    width: 52px;
    font-size: var(--font-size-base);
  }
}

@media screen and (max-width: 769px) {
  .expenseItem .info,
  .expenseItem .header {
    font-size: var(--font-size-sm);
  }
  .buttonsContainer .button {
    font-size: var(--font-size-sm);
  }
}

@media screen and (max-width: 430px) {
  .expenseItem {
    width: 100%;
    height: 240px;
    flex-wrap: wrap;
    gap: 16px;
  }
  .expenseItem .infoContainer {
    width: 100%;
    height: 15%;
  }

  .expenseItem .infoContainer {
    height: 32px;

    gap: 0px;
  }

  .expenseItem .info {
    border-bottom: 1px dotted black;
    text-align: center;
  }

  .buttonsContainer {
    height: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: var(--space-lg);
  }
  .buttonsContainer .button {
    /* height: 24px;
    width: 48px; */
  }
}
