.filterHeader {
  color: var(--color-text-muted);
  font-size: var(--font-size-sm);
}

.filter {
  background: var(--parchment-textured);
  background-blend-mode: hue;
}
@media screen and (min-width: 1440px) {
  .filterHeader {
    font-size: var(--font-size-md);
  }

  .filter {
    height: 24px;
  }
}
