@font-face {
  font-family: firlest;
  src: url("./assets/Font/Firlest-Regular.otf");
}

@font-face {
  font-family: enchanted;
  src: url("./assets/Font/Enchanted\ Land\ DEMO.otf");
}

.rootContainer {
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  background-color: var(--color-body-background);

  display: flex;
  align-items: center;
  justify-content: center;
  font-family: enchanted;
}

.appContainer {
  height: 90%;
  width: 70%;

  background: var(--background-1-textured);
  background-blend-mode: hue;

  box-shadow: var(--shadow-sm);
  position: relative;
  border: 6px solid rgba(30, 67, 179, 0.444);
  border-style: inset;
  border-radius: var(--radius-md);
}

.totalExpensesContainer {
  height: 35%;
  width: 100%;
  padding: var(--space-lg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.filterContainer {
  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
  padding: var(--space-xs) 0;
  text-align: center;
  background: var(--background-1-textured);
}

.individualExpensesContainer {
  height: 55%;
  width: 100%;
  padding: var(--space-md);
  overflow-y: auto;
}

.appContainer .openAddModalButton {
  background-color: var(--color-primary);
  color: white;

  position: absolute;
  bottom: var(--space-md);
  right: var(--space-md);
}

/* Responsiveness */
@media screen and (min-width: 1440px) {
  .appContainer .openAddModalButton {
    height: 48px;
    width: 64px;
    font-size: var(--font-size-md);
  }
}
@media screen and (max-width: 769px) {
  .appContainer {
    width: 80%;
  }
}

@media screen and (max-width: 430px) {
  .rootContainer {
    height: 100vh;
    padding: 0;
  }
  .appContainer {
    height: 100%;
    width: 100%;
    padding: var(--space-md);
  }
  .totalExpensesContainer {
    padding: 0;
  }

  .individualExpensesContainer {
    height: 55%;
  }
}
